html {
    font-size: 62.5%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; font-size: 1.6rem;
    line-height: 1.5;
}

a:link,
a:visited {
    color: #00A3CB;
}

.content {
    width: 300px;
    margin: 40px auto;
    text-align: center;
}

@media (min-width: 480px) {
    .content {
        width: 460px;
    }
}

.logo {
    margin-bottom: 40px;
}

.logo img {
    width: 100%;
}

.social {
    margin-bottom: 40px;
}

.social ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social ul li {
    display: inline;
    margin: 0 10px;
    padding: 0;
}

.social a:link,
.social a:visited {
    display: inline-block;
    text-decoration: none;
    white-space: no-wrap;
}

.social a:hover span,
.social a:active span {
    text-decoration: underline;
}

.facebook {
    display: none;
}

@media (min-width: 480px) {
    .facebook {
        display: block;
    }
}
